<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.hehe.mapper.ClassMapper">

    <resultMap id="BaseResultMap" type="website.hehe.pojo.Class">
            <id property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="classLevel" column="class_level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        class_id,class_name,class_level
    </sql>
    <select id="getClassLevelByStudentClass" resultType="java.lang.Integer">
        select class.class_level from class where class_name = #{studentClass}
    </select>
</mapper>
