<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.hehe.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="website.hehe.pojo.Log">
        <id property="logId" column="log_id" jdbcType="INTEGER"/>
        <result property="logType" column="log_type" jdbcType="VARCHAR"/>
        <result property="logLocation" column="log_location" jdbcType="VARCHAR"/>
        <result property="dp" column="dp" jdbcType="INTEGER"/>
        <result property="date" column="date" jdbcType="TIMESTAMP"/>
        <result property="appealId" column="appeal_id" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,log_type,log_location,
        dp,date,appeal_id,
        remark,student_id,teacher_id,version,
        is_deleted
    </sql>
    <select id="selectByStudentIdAndAppealStatus" resultType="website.hehe.pojo.Log">
        SELECT log.log_id,
               log.log_type,
               log.log_location,
               log.dp,
               log.date,
               log.appeal_id,
               log.remark,
               log.student_id,
               log.teacher_id
        FROM log
                 LEFT JOIN appeal ON log.appeal_id = appeal.appeal_id
        WHERE log.student_id = #{userId}
          AND ((appeal.appeal_status is null) or appeal.appeal_status != 3)
        GROUP BY log.log_id;
    </select>

    <select id="selectLogsByAppealIdExcludeNonPendingAppeals" resultType="website.hehe.pojo.vo.LogRequest">
        select log_type        as type,
               log_location    as location,
               a.appeal_id     as id,
               dp,
               date,
               a.appeal_reason as reason,
               s.student_name  as studentName,
               s.student_class as studentClass
        from log
                 left join dp_management.appeal a on log.appeal_id = a.appeal_id
                 left join dp_management.student s on log.student_id = s.student_id
        where a.appeal_status = 1
    </select>

    <select id="selectAllLogsIncludedClassAndStudentDataExcludedFulfilledAppeals" resultType="java.util.Map">
        SELECT l.log_type, l.log_location, l.date, l.dp, c.class_name, c.class_level, s.student_name
        FROM log l
                 JOIN student s ON l.student_id = s.student_id
                 JOIN class c ON s.student_class = c.class_name
                 LEFT JOIN appeal a ON l.appeal_id = a.appeal_id
        WHERE a.appeal_status != 2
           OR a.appeal_status IS NULL
    </select>

    <select id="selectAllLogsIncludedClassAndStudentDataExcludedFulfilledAppealsByClassName"
            resultType="java.util.Map">
        SELECT l.log_type, l.log_location, l.date, l.dp, s.student_name, c.class_name
        FROM log l
                 JOIN student s ON l.student_id = s.student_id
                 JOIN class c ON s.student_class = c.class_name
                 LEFT JOIN appeal a ON l.appeal_id = a.appeal_id
        WHERE (a.appeal_status != 2
            OR a.appeal_status IS NULL)
          AND c.class_name = (SELECT c.class_name
                              FROM class c
                                       LEFT JOIN teacher t ON t.teacher_class = c.class_name
                              WHERE t.teacher_id = #{userId})
    </select>
</mapper>
