<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.hehe.mapper.OperationMapper">

    <resultMap id="BaseResultMap" type="website.hehe.pojo.Operation">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="module" column="module" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
        <result property="responseParam" column="response_param" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="uri" column="uri" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module,type,
        description,request_param,response_param,
        user_id,method,
        uri,create_time,version,
        is_deleted
    </sql>
    <select id="selectByTime" resultType="website.hehe.pojo.Operation">
        select operation.id,
               operation.module,
               operation.type,
               operation.description,
               operation.request_param,
               operation.response_param,
               operation.user_id,
               operation.method,
               operation.uri,
               operation.create_time
        from operation
        where create_time <![CDATA[ >= ]]> FROM_UNIXTIME(#{startTime} / 1000)
        and create_time <![CDATA[ <= ]]> FROM_UNIXTIME(#{endTime} / 1000)
    </select>
</mapper>
